@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

:root {
    --primary: rgba(121, 43, 129, 1);
    --dark: #21252f;
    --body: rgba(255, 255, 255, 1);
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);

}

body {
    font-family: Sora, "sans-serif";
    line-height: 1.7;
    color: var(--dark);  
    color: black !important;   
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-display: swap;
}

h1,
h2,
h3,
h4,
h5 .fs-2 {
    color: black;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-display: swap;  
}

a {
    color: var(--dark);
    text-decoration: none;
}   
section {
    padding-top: 120px;
    padding-bottom: 120px;
}
/* styling of nav*/   
.navbar{
    padding-top: 0px;  
    padding-bottom: 0px;  
    background-color: rgba(255, 255, 255, 1);   
    color: black;
}


.link {
color: black !important;   
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-display: swap;  
font-size: 18px;  
margin-right: 28px;
}

.link:hover{
    color: rgb(116, 179, 22) !important;
}   

.aut{
    position: absolute;  
    left: 40px;
}
/* Styling of hero */
.hero {
    background-image: url(assets/image/person-using-transport.svg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;

}

.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(70%);
    filter: var(--dark);

}   


/* end of Styling of hero */    

/* Styling of book */   

.book {
    position: relative;
    z-index: 2;   
    height: 100%;

}

.book::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(70%);
    filter: var(--dark);

}  

.book_now  {
    background-color: rgba(121, 43, 129, 1);
    color: white;
    outline: none;
    border-color: transparent;

}


.card-title{
    font-style: italic;  
    font-size:medium ;   
    font-weight: lighter;

}  
.card-text{
    font-size: larger;  
    line-height: 1.4;
}
.text{
    font-size: small;
}   
.card{
    border: none;
}

.logo {
    width: 100%;
    height: 100px;
}    

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
/* Styling for routes */
#routes{
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;   
    size: 80%;
} 
.routes::after {
    content: "";
    width: 100%;
    height: 110%;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(70%);
    filter: var(--dark);

}  
.list{
    color: rgba(121, 43, 129, 1);    
    font-size: 18px;    
    padding: 5px;  
    float: left;  
    margin: 30px;  
}    
/* Styling for testimonial */   

.test_img {
    width: 125px;
    height: 125px;
    border-radius: 100px;   
}  
.card-effect {
    box-shadow: var(--box-shadow);   
    border-radius: 15px;
    background-color: rgba(121, 43, 129, 1);
    padding: 25px;
    transition: all 0.35s ease;
}    
.test_text{
    color: var(--body);
}
.test{
    color:rgba(121, 43, 129, 1);
}
.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);    
    background-color: rgb(224, 87, 240); 

}

/*  end of Styling for testimonial */  

/* Styling for about us */      
#about_us{
    position: relative;
    z-index: 2;   
    height: 100%; 
}   

.about_text{
    color:rgba(121, 43, 129, 1);  
    font-family: outfit;  
    font-size: 25px;        
}  
.about_us_text{
    color: #21252f;  
}

/* end of Styling for about us */     


/*  Styling for footer */     
.footer-top{
    background-color:rgba(121, 43, 129, 1); 
}   
.footer-top a{
    text-decoration: none;   
    color:rgba(255, 255, 255, 1) ;  
    font-size: large;
}  
.footer-list{   
    font-size: 15px;
}  
.footer-bottom{
    background-color: rgba(0, 0, 0, 0.2);  
}
/* end of Styling footer */     
